---
import NavLayout from '../layouts/NavLayout.astro';
---

<NavLayout title="Art Terms of Service">
	<main class="max-w-lg mx-auto px-4 mb-8">
		<span>
			<h1 class="inline-block text-4xl font-extrabold mb-2 drop-shadow-md">Terms of Service</h1>

			<ol class="list-decimal list-inside indent-4">
				<li class="mb-4 leading-7">
					Payment for commissions must be made upfront, unless the commissioner and artist agree to a payment
					plan in which the commissioner pays for half of the commission upon completion of half of the work.
					For sketch commissions, half of the work would be rough posing, while colored commissions would be a
					sketch.
				</li>
				<li class="mb-4 leading-7">
					By commissioning the artist, the commissioner grants the artist implicit permission to use the
					commissioned artwork on other websites and in the artist's portfolio. The commissioner may also give
					explicit permission to delay or prohibit the use of the commissioned artwork in these contexts,
					subject to certain conditions or scenarios as agreed upon by both the commissioner and artist.
				</li>
				<li class="mb-4 leading-7">
					The commissioner is given full rights to the usage of the commissioned artwork and is free to post
					and modify the artwork as desired, including the option to do so without giving credit to the
					artist. However, the commissioner may not claim the artwork as their own creation, whether it has
					been modified or not.
				</li>
				<li class="mb-4 leading-7">
					The commissioner may not use the commissioned artwork for any non-fungible token (NFT) related
					projects or as training data for artificial intelligence or machine learning models.
				</li>
				<li class="mb-4 leading-7">
					The commissioner may cancel a commission at any time, but will be responsible for paying for the
					current state of the commission. The artist also reserves the right to refuse or cancel a commission
					at any time. If a commission is ongoing at the time of a cancellation done by the artist, the
					commissioner will receive a full refund.
				</li>
				<li class="mb-4 leading-7">
					By commissioning the artist, the commissioner agrees to and accepts the terms of service outlined
					above. If these terms are violated, the artist will be given back full rights to the commissioned
					artwork and the commissioner will forfeit any rights to the artwork. The artist is not obligated to
					provide a refund in this scenario.
				</li>
				<li class="leading-7">
					The artist reserves the right to modify these terms of service at any time without prior notice to
					the commissioner. It is the responsibility of the commissioner to stay informed of any changes to
					these terms. By continuing to commission the artist after any changes have been made, the
					commissioner signifies their acceptance of the revised terms of service.
				</li>
			</ol>

			<p class="opacity-60 italic text-right mt-12 text-sm">
				While the terms specify commissions, this TOS also applies to art requests as well, minus the payment.
			</p>
		</span>
	</main>
</NavLayout>
