---
import KofiButton from '../components/KofiButton.astro';
import Separator from '../components/Separator.astro';
import NavLayout from '../layouts/NavLayout.astro';
---

<NavLayout title="Commissions">
	<main class="max-w-lg mx-auto px-4 pb-8">
		<h1 class="text-center text-4xl font-extrabold drop-shadow-md">
			I <b class="underline">CANNOT</b> accept art commissions!
		</h1>

		<p class="mt-8 indent-4 leading-7">
			As per the recent laws against the trading of souls in the black market, I regret to inform that I am
			currently unable to accept any commissions. However, I am still open to requests and am more than happy to
			discuss potential art projects with you.
		</p>
		<p class="indent-4 leading-7">I apologize for any inconvenience this may cause.</p>

		<Separator />

		<p class="text-center">Here are some samples of my artworks!</p>

		<ul class="grid grid-cols-2 grid-rows-2 place-items-center gap-2 my-4">
			<li>
				<img src="/drawings/kenneth.png" alt="A drawing of Kenneth's Jackalope OC" />
			</li>
			<li>
				<img src="/drawings/koneko.png" alt="A drawing of Koneko's OC" />
			</li>
			<li>
				<img src="/drawings/mallow.png" alt="A drawing of Mallow's Orca OC in a smol form" />
			</li>
			<li>
				<img src="/drawings/oranger.png" alt="A drawing of Oranger's Dragon OC" />
			</li>
		</ul>

		<p class="text-center">
			<a href="/art-tos" rel="prefetch">Terms of Service for art commission and requests.</a>
		</p>

		<Separator />

		<p>While you're here, how about you check out some of my friends!</p>

		<ul class="flex flex-col justify-center place-items-center gap-4 my-4">
			<li>
				<KofiButton name="HeySora" hexCode="#b2a199" url="heysora" />
			</li>
			<li>
				<KofiButton name="Astronomena" hexCode="#3f0f29" url="astronomena" />
			</li>
			<li>
				<KofiButton name="KennethLias" hexCode="#8838bd" url="kennethlias" />
			</li>
			<li>
				<KofiButton name="Sudospective" hexCode="#271e3d" url="sudospective" />
			</li>
			<li>
				<KofiButton name="the Draco System" hexCode="#8c9cee" url="bright0595" />
			</li>
		</ul>
	</main>
</NavLayout>
