---
export interface Props {
	href: string;
	label: string;
	class: string;
}

const { class: className = '', href, label, ...attrs } = Astro.props;
---

<a
	href={href}
	aria-label={label}
	title={label}
	class={`transition-opacity opacity-60 duration-200 hover:opacity-100 h-full grid place-items-center ${className}`}
	{...attrs}
>
	<slot />
</a>
