---
export interface Props {
	text: string;
	link: string;
}

const { text, link } = Astro.props;
---

<li class="my-4 ml-auto w-fit">
	<a
		href={link || '#'}
		rel="prefetch"
		class="cow-index-link-parent flex flex-row place-items-center gap-3 no-underline"
	>
		<div class="cow-index-icon" aria-hidden="true">
			<slot />
		</div>
		<span class="cow-index-link">{text}</span>
	</a>
</li>

<style lang="scss" is:global>
	.cow-index-link-parent {
		transition: padding ease-in-out 200ms;
		padding-right: 0;

		.cow-index-link {
			position: relative;

			&::before {
				position: absolute;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.6);
				height: 0.05em;
				width: 0%;
				left: 0;
				bottom: -0.1rem;

				transition: width ease-in-out 200ms;
			}
		}

		.cow-index-icon {
			svg {
				width: 1.5em;
				height: 1.5em;
			}

			// sm:
			@media screen and (min-width: 640px) {
				position: relative;
				opacity: 0;
				transform: translateX(0.5rem);
				transition: opacity ease-in-out 200ms, transform ease-in-out 200ms;
			}
		}

		&:hover {
			padding-right: 0.5rem;

			.cow-index-link::before {
				left: initial;
				right: 0;
				// width: 100%;
			}
			.cow-index-icon {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
</style>
